* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  line-height: 1.7rem;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #282931;
}

h1 {
  line-height: 3.2rem;
}

h2 {
  line-height: 2.2rem;
}

h3 {
  line-height: 2rem;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #5f97fb;
}

tr:hover td {
  background-color: #fefaf1 !important;
}

tr td:first-child {
  border-left: 4px solid transparent;
  transition: all .2s;
}

tr:hover td:first-child {
  border-left: 4px solid #5f97fb;
}
