body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #5F97FB;
}

tr:hover td {
  background-color: #fefaf1 !important;
}

tr td:first-child {
  border-left: 4px solid transparent;
}

tr:hover td:first-child {
  border-left: 4px solid #5F97FB;
}